.App {
  text-align: center;
}

#container {
  display: grid;
  grid-template-columns: 25% auto;
  grid-template-rows: auto;
}

.navigation {
  background-color: green;
}

.body {
  background-color: yellow;
  width: auto;
  height: auto;
}

.footer {
  background-color: magenta;
}